*{
    margin: 0px;
    padding: 0px;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
}

.textview{
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}